PORT=your_development_port

MONGO_URI=your_mongo_db_uri

JWT_ACCESS_SECRET=your_secret_key_for_access_tokens
JWT_REFRESH_SECRET=your_secret_key_for_refresh_tokens

ACCESS_TOKEN_TTL=the_time_your_access_tokens_will_live
REFRESH_TOKEN_TTL=the_time_your_refresh_tokens_will_live
